Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Pricing improvements (#54)
  contracts/funds/CollateralFundBase.sol
  contracts/funds/interfaces/ICollateralFund.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouter.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/PriceSourceBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Auto-pull of coverage demand (#50)
  .solcover.js
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/interfaces/IDemandRefiller.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IJoinHandler.sol
  contracts/interfaces/IWeightedPool.sol
  package.json
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Insured improvements (#53)
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/governance/mocks/MockInsuredPoolV2.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PricingHelper.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Merge fixes
  contracts/funds/CollateralFundBase.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/tools/Errors.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix EOA governor
  contracts/insured/InsuredAccessControl.sol
  contracts/insurer/WeightedPoolAccessControl.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

CC access test
  test-suites/test-main/access-control-tests/access-currency.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixes
  contracts/access/AccessController.sol
  contracts/access/AccessControllerBase.sol
  contracts/access/AccessFlags.sol
  helpers/access-flags.ts
  helpers/constants.ts
  tasks/deploy/full/02-access-controller.ts
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/governance/interfaces/IProxyCatalog.sol
  contracts/interfaces/IProxyFactory.sol
  tasks/deploy/full/05-insured-pool-v1.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

AccessController fixes (#55)
  contracts/access/AccessController.sol
  contracts/access/AccessControllerBase.sol
  contracts/access/AccessFlags.sol
  helpers/access-flags.ts
  helpers/constants.ts
  tasks/deploy/full/02-access-controller.ts
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control for proxy create
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  helpers/eip712.ts
  tasks/deploy/full/03-proxy-catalog.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix merge
  helpers/eip712.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Approval and Proxy catalog improvements (#56)
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/governance/interfaces/IProxyCatalog.sol
  contracts/interfaces/IProxyFactory.sol
  helpers/eip712.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/05-insured-pool-v1.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

2-phase renouncment
  contracts/tools/SafeOwnable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Update access control setup
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP insurer access control tests
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix typo
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Initial
  helpers/dre.ts
  helpers/factory-wrapper.ts
  tasks/deploy/full/01-example.ts
  tasks/deploy/full/02-access-controller.ts
  tasks/deploy/full/03-proxy-catalog.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  tasks/deploy/full/04-collateral-currency.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/04-collateral-currency.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  helpers/factory-wrapper.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/05-insured-pool-v1.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/access/AccessControllerBase.sol
  contracts/governance/ProxyTypes.sol
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  helpers/proxy-types.ts
  helpers/types.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-insured-pool-v1.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pool.ts
  tasks/deploy/full/20-insured-pool.ts
  tasks/deploy/full/99-finalize.ts
  tasks/deploy/full/templates.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  helpers/contract-ifaces.ts
  helpers/contract-types.ts
  helpers/factory-wrapper.ts
  helpers/runtime-utils.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pool.ts
  tasks/deploy/full/10-front-helper.ts
  tasks/deploy/full/20-insured-pool.ts
  tasks/deploy/full/templates.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Insurer governor
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP debugging
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix storage layout
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

onlyActiveInsuredOrOps
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improved storage layout
  hardhat.config.ts
  package-lock.json
  package.json
  tasks/plugins/storage-layout.ts
  tasks/tools/storage-layout.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Imperpetual WIP
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Layout test
  helpers/contract-types.ts
  helpers/storage-layout.ts
  tasks/plugins/storage-layout.ts
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Storage layout test (#58)
  hardhat.config.ts
  helpers/contract-types.ts
  helpers/storage-layout.ts
  package-lock.json
  package.json
  tasks/plugins/storage-layout.ts
  tasks/tools/storage-layout.ts
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

More events (collateral fund, yield distr)
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/insurer/WeightedPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Events for oracle
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Only premium distributor + standardized capitalization
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
  test-suites/test-main/access-control-tests/access-premium-fund.spec.ts
  test-suites/test-main/access-control-tests/access-yield-distributor.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Duplicate fix
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium fund events
  contracts/premium/PremiumFundBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Events of insured
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

More events of insured
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improvments
  contracts/governance/ApprovalCatalog.sol
  contracts/insured/InsuredPoolBase.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
