Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

fix: add npm token and repository for publish
  .github/workflows/publish.yml
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

fix: add npm token and repository for publish (#106)
  .github/workflows/publish.yml
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

fix: add pat to publish action
  .github/workflows/publish.yml
Due: none

fix: add pat to publish action (#107)
  .github/workflows/publish.yml
Due: none

0.9.9
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

callStrategy
  contracts/currency/mocks/MockStrategy.sol
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Strategy event
  helpers/contract-events.ts
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

0.9.11
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

0.9.12
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Reinvestor access
  test-suites/test-main/access-checks.specs/access-reinvestor.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Investment events
  helpers/contract-events.ts
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/access-checks.specs/access-reinvestor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Check CC totalSupply
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

0.9.13
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

chore: deploy usdc mock token
  helpers/config/dev.ts
  helpers/config/full.ts
  tasks/deploy/dev/00-pre-deploy.ts
  tasks/migrations/deploy-dev.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Require authentic contracts
  contracts/access/AccessFlags.sol
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/governance/ProxyCatalog.sol
  contracts/tools/Errors.sol
  helpers/contract-verification.ts
  package-lock.json
  tasks/deploy/full/08-premium-fund.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes
  contracts/currency/mocks/MockStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

New Yield Tests (#97)
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/mocks/MockAavePoolV3.sol
  contracts/currency/mocks/MockReinvestManager.sol
  contracts/currency/mocks/MockStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/funds/CollateralFundBase.sol
  helpers/contract-events.ts
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-checks.specs/access-reinvestor.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/reinvestment.cov.spec.ts
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Genuine proxy test fixes
  contracts/currency/mocks/MockMinter.sol
  helpers/contract-types.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

quick fix
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

linter fixes
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Require authentic contracts for CC (#109)
  contracts/access/AccessFlags.sol
  contracts/access/AccessHelper.sol
  contracts/currency/mocks/MockMinter.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/governance/ProxyCatalog.sol
  contracts/tools/Errors.sol
  helpers/contract-types.ts
  helpers/contract-verification.ts
  package-lock.json
  tasks/deploy/full/08-premium-fund.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/storage-layout.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Upgradeable CC
  contracts/funds/CollateralCurrencyV1.sol
  contracts/funds/CollateralFundBase.sol
  contracts/governance/ProxyTypes.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/interfaces/ICollateralCurrencyInit.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PricingHelper.sol
  helpers/access-verify/contracts-access.ts
  helpers/contract-types.ts
  helpers/proxy-types.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/02-proxy-catalog.ts
  tasks/deploy/full/03-price-oracle.ts
  tasks/deploy/full/04-reinvestor.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/templates.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix linter
  tasks/deploy/full/02-proxy-catalog.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Upgradeable CC (#110)
  contracts/funds/CollateralCurrencyV1.sol
  contracts/funds/CollateralFundBase.sol
  contracts/governance/ProxyTypes.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/interfaces/ICollateralCurrencyInit.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PricingHelper.sol
  helpers/access-verify/contracts-access.ts
  helpers/contract-types.ts
  helpers/proxy-types.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/02-proxy-catalog.ts
  tasks/deploy/full/03-price-oracle.ts
  tasks/deploy/full/04-reinvestor.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/templates.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Covered rate bands (#76)
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/libraries/Arrays.sol
  contracts/libraries/CallData.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc and fixes for access control
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessControllerBase.sol
  contracts/access/AccessHelper.sol
  contracts/access/AccessLib.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/access/interfaces/IManagedAccessController.sol
  contracts/access/mocks/MockAccessController.sol
  helpers/contract-types.ts
  tasks/deploy/full/01-access-controller.ts
  test-suites/test-main/access-checks.specs/setup.ts
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc and fixes for reinvestor
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/interfaces/ILender.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/interfaces/ISubBalance.sol
  contracts/currency/mocks/MockStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Skip zero transfers for batch swap
  contracts/premium/PremiumFundBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Skip zero transfers for batch swap (#112)
  contracts/premium/PremiumFundBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc on sub-balances and yield
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/YieldingBase.sol
  contracts/currency/YieldingCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for collateral ccy and fund
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/Collateralized.sol
  contracts/funds/interfaces/ICollateralFund.sol
  contracts/funds/interfaces/IManagedCollateralFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: use decimals from config
  tasks/deploy/dev/00-pre-deploy.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Code docs for governor
  contracts/access/interfaces/IRemoteAccessBitmask.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/interfaces/IApprovalCatalog.sol
  contracts/governance/interfaces/IGovernorAccessBitmask.sol
  contracts/governance/interfaces/IInsuredGovernor.sol
  contracts/governance/interfaces/IInsurerGovernor.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for the proxy catalog
  contracts/governance/ProxyCatalog.sol
  contracts/governance/ProxyTypes.sol
  contracts/governance/interfaces/IClaimAccessValidator.sol
  contracts/governance/interfaces/IGovernorAccessBitmask.sol
  contracts/governance/interfaces/IProxyCatalog.sol
  contracts/interfaces/IProxyFactory.sol
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc and fixes for ApprovalCatalog
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix and cleanup
  test-suites/test-main/access-checks.specs/access-approval-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-yield-distributor.cov.spec.ts-backup
  test-suites/test-main/yield-distributor.cov.spec.ts-backup
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP auto pull
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  helpers/contract-verification.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

small typos
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/ReinvestManagerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/insurer/WeightedRoundsBase.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
