Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Contract fix
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Collateral currency price set
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralCurrency.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insurance/Collateralized.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/ICharterable.sol
  contracts/interfaces/ICoverageDistributor.sol
  contracts/interfaces/IInsurancePool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/interfaces/IJoinable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insurance/Collateralized.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessFlags.sol
  contracts/governance/GovernedHelper.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerGovernor.sol
  contracts/tools/upgradeability/Delegator.sol
  helpers/contract-events.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Extended access to cancellation functions
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/ICoverageDistributor.sol
  contracts/tools/upgradeability/Delegator.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control for insurer
  contracts/governance/GovernedHelper.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/ICoverageDistributor.sol
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumFund.sol
  contracts/premium/mocks/MockPremiumSource.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Auto replenish test
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Optimize replenish fn, fix min amount for 1-batch
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improve balancing accuracy with partial updates
  contracts/premium/BalancerLib2.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumSource.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Harden checks
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Minor improvements
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Proper zero replenish for zero balance
  contracts/premium/BalancerLib2.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tests for updating while paused
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Swap above balance for fee collection
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

getFee
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes
  .eslintrc.js
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Support only and skip for test suites
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Mock optimizations
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerPool.sol
  helpers/contract-ifaces.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Merge fixes
  contracts/interfaces/ICoverageDistributor.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Relocate logic between the extension and the base
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/governance/GovernedHelper.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/governance/GovernedHelper.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessHelper.sol
  contracts/governance/GovernedHelper.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup warnings
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Query access from a governor
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/interfaces/IInsurerGovernor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Use approvals for joiners
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/interfaces/IApprovalCatalog.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsuredPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Index Pool access and governance controls
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/interfaces/IApprovalCatalog.sol
  contracts/governance/interfaces/IInsurerGovernor.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerGovernor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor improvements
  .solcover.js
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Premium Fund tests and fixes (#27)
  .eslintrc.js
  .solcover.js
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockERC20.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
  contracts/premium/mocks/MockPremiumSource.sol
  helpers/contract-types.ts
  package-lock.json
  package.json
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control and governance for an Index Pool (#32)
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/interfaces/IApprovalCatalog.sol
  contracts/governance/interfaces/IInsurerGovernor.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsurerGovernor.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

CC access control
  contracts/access/AccessFlags.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/TokenDelegateBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/governance/ApprovalCatalog.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/Collateralized.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/interfaces/IProxyFactory.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control for premium fund
  contracts/insurer/InsurerJoinBase.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control for CC and premium fund (#33)
  contracts/access/AccessFlags.sol
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/Collateralized.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/interfaces/IProxyFactory.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
