Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Initial CLI support
  helpers/access-flags.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  tasks/deploy/full/97-access-test.ts
  tasks/subtasks/call-cmd.ts
  tasks/tools/call-cmd.ts
  tasks/tools/print-contracts.ts
  tasks/tools/wallets.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Run coverage on access
  test-suites/test-main/access-control-tests/access-approval-catalog.cov.spec.ts
  test-suites/test-main/access-control-tests/access-currency.cov.spec.ts
  test-suites/test-main/access-control-tests/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
  test-suites/test-main/access-control-tests/access-premium-fund.cov.spec.ts
  test-suites/test-main/access-control-tests/access-price-oracle.cov.spec.ts
  test-suites/test-main/access-control-tests/access-proxy-catalog.cov.spec.ts
  test-suites/test-main/access-control-tests/access-yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improve revert typings
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessControllerBase.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/libraries/Balances.sol
  contracts/libraries/mocks/MockLibs.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/tools/Errors.sol
  contracts/tools/math/Math.sol
  package-lock.json
  package.json
  test-suites/test-main/lib-strings.cov.spec.ts
  test-suites/test-main/libs.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix access checker
  helpers/access-verify/method-checker.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix hasMore
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix slither
  contracts/access/AccessCallHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Command
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Improve revert typings (#66)
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessControllerBase.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/libraries/Balances.sol
  contracts/libraries/mocks/MockLibs.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/tools/Errors.sol
  contracts/tools/math/Math.sol
  helpers/access-verify/method-checker.ts
  package-lock.json
  package.json
  test-suites/test-main/lib-strings.cov.spec.ts
  test-suites/test-main/libs.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Update AccessFlags reference
  helpers/access-control-constants.ts
  test-suites/test-main/access-control-tests/access-currency.cov.spec.ts
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
  test-suites/test-main/access-control-tests/access-yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Insured setCoverageDemand
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Access control testing (#51)
  contracts/insurer/WeightedPoolExtension.sol
  package.json
  test-suites/test-main/access-control-tests/access-approval-catalog.cov.spec.ts
  test-suites/test-main/access-control-tests/access-currency.cov.spec.ts
  test-suites/test-main/access-control-tests/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
  test-suites/test-main/access-control-tests/access-premium-fund.cov.spec.ts
  test-suites/test-main/access-control-tests/access-price-oracle.cov.spec.ts
  test-suites/test-main/access-control-tests/access-proxy-catalog.cov.spec.ts
  test-suites/test-main/access-control-tests/access-yield-distributor.cov.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix onlyactiveinsuredorops
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Incremental deploy, fixes
  .github/workflows/check.yml
  contracts/funds/CollateralCurrency.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/premium/PremiumFundBase.sol
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  package.json
  tasks/deploy/dev/20-insured-pools.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/full/10-front-helper.ts
  tasks/deploy/templates.ts
  tasks/migrations/deploy-test-incremental.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Run deploy tests in parallel
  .github/workflows/check.yml
Due: none

Incremental deploy (#67)
  .github/workflows/check.yml
  contracts/funds/CollateralCurrency.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/premium/PremiumFundBase.sol
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  package.json
  tasks/deploy/dev/20-insured-pools.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/full/10-front-helper.ts
  tasks/deploy/templates.ts
  tasks/migrations/deploy-test-incremental.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Borrow + repay tests
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improve access checker for goerli
  helpers/access-verify/method-checker.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improve workflow
  .github/workflows/check.yml
Due: none

Improve access checker for goerli (#68)
  .github/workflows/check.yml
  helpers/access-verify/method-checker.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Sync for proxies
  helpers/deploy-db.ts
  tasks/deploy/templates.ts
  tasks/tools/sync-all.ts
  tasks/tools/verify-all.ts
  test-suites/test-main/access-control-tests/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
  test-suites/test-main/access-control-tests/access-proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Sync for proxies (#69)
  helpers/deploy-db.ts
  tasks/deploy/templates.ts
  tasks/tools/sync-all.ts
  tasks/tools/verify-all.ts
  test-suites/test-main/access-control-tests/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-control-tests/access-insured.cov.spec.ts
  test-suites/test-main/access-control-tests/access-proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

MCD user premium
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixed swap functions, added approvals
  contracts/premium/PremiumFundBase.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleaner stacktraces
  helpers/stacktraces.ts
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Cleaner stacktraces (#70)
  helpers/stacktraces.ts
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Declare access
  helpers/access-verify/contracts-access.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixed swap functions, added approvals (#71)
  contracts/premium/PremiumFundBase.sol
  helpers/access-verify/contracts-access.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor improvements
  contracts/front/FrontHelper.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IInsurerPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix slither
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor improvements (#72)
  contracts/front/FrontHelper.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IInsurerPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Rate bands on cancel
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/ICoverageDistributor.sol
  test-suites/test-main/access-control-tests/access-imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor rework of package cmds
  package.json
  test-suites/test-main/access-checks.specs/access-approval-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-insured.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-premium-fund.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-price-oracle.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-proxy-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-yield-distributor.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Minor rework of package cmds (#74)
  package.json
  test-suites/test-main/access-checks.specs/access-approval-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-insured.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-premium-fund.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-price-oracle.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-proxy-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-yield-distributor.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Rate bands on cancel (#73)
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/ICoverageDistributor.sol
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add goerli usdc asset
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: add goerli usdc asset (#75)
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Covered rate bands
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/libraries/Arrays.sol
  contracts/libraries/CallData.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

fix: add assets for collateral fund
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

fix: add assets for collateral fund (#77)
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

fix: change price for usdc
  helpers/config/full.ts
  helpers/constants.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint
