Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

WIP
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/interfaces/IWeightedPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/IDemandRefiller.sol
  contracts/interfaces/IInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Remove a mock from coverage
  .solcover.js
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IWeightedPool.sol
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedRoundsBase.sol
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  .github/workflows/check.yml
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Fixes
  .github/workflows/check.yml
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Exclude bugged detector
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Excludes
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

WIP
  .github/workflows/check.yml
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

WIP
  .slither.json
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/premium/PremiumFundBase.sol
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

exclude bugged detectors
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Bugged detector
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Create insurer clones for setup
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Premium fund
  test-suites/test-main/access-control-tests/access-premium-fund.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/access-control-tests/access-premium-fund.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Mono rate insured
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insured/mocks/MockInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/governance/mocks/MockInsuredPoolV2.sol
  contracts/insured/InsuredPoolBase.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Unified rate band support
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/interfaces/IInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanups
  contracts/access/AccessController.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/premium/PremiumFundBase.sol
  contracts/tools/Errors.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

More to exclude
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

More excludes
  .slither.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Cleanups
  contracts/front/FrontHelper.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/tools/upgradeability/TransparentProxyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Ignores for slither
  contracts/front/FrontHelper.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/OracleRouterBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Wrestling with silther
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/front/FrontHelper.sol
  contracts/tools/upgradeability/TransparentProxyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/front/FrontHelper.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/tools/upgradeability/TransparentProxyBase.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Update workflow
  .github/workflows/check.yml
Due: none

Fix workflow
  .github/workflows/check.yml
Due: none

WIP
  .github/workflows/check.yml
Due: none

Static analysis by Slither (#52)
  .github/workflows/check.yml
  .slither.json
  contracts/front/FrontHelper.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/PricingHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/funds/CollateralFundBase.sol
  contracts/funds/interfaces/ICollateralFund.sol
  contracts/pricing/OracleRouterBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Reworked price pulling
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouter.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/PriceSourceBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceGuardOracleBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
