Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged",
    "npm run eslint:fix"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

chore: remove ganache
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore: update deps
  helpers/contract-verification.ts
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Minor cleanup
  contracts/insured/InsuredBalancesBase.sol
  contracts/premium/PremiumCollector.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Package dep update
  package-lock.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): fix eslint errors for test-suites
  helpers/runtime-utils.ts
  test-suites/test-main/__setup.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/setup/almost-equal.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-pool.bench.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): disable some rules
  .eslintrc.js
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore: remove unused code
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): disable no-continue rule
  .eslintrc.js
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore: remove promise all
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): fix eslint errors for test-suites (#18)
  .eslintrc.js
  helpers/runtime-utils.ts
  test-suites/test-main/__setup.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/setup/almost-equal.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-pool.bench.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): eslint fixes for tasks
  tasks/deploy/deploy-steps.ts
  tasks/deploy/dev/00_mock_tokens.ts
  tasks/deploy/full/01-example.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
  tasks/migrations/deploy-full.ts
  tasks/migrations/deploy-test-incremental.ts
  tasks/subtasks/set-dre.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): refactoring for config names
  helpers/config-loader.ts
  tasks/deploy/deploy-steps.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): rename names of config
  helpers/config-loader.ts
  tasks/deploy/deploy-steps.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): eslint fixes for tasks (#19)
  helpers/config-loader.ts
  tasks/deploy/deploy-steps.ts
  tasks/deploy/dev/00_mock_tokens.ts
  tasks/deploy/full/01-example.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
  tasks/migrations/deploy-full.ts
  tasks/migrations/deploy-test-incremental.ts
  tasks/subtasks/set-dre.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): fix eslint errors for helpers
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  helpers/runtime-utils.ts
  helpers/types.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): return non-null assertions
  helpers/deploy-db.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

chore(eslint): fix eslint errors for helpers (#20)
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  helpers/runtime-utils.ts
  helpers/types.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Storage layout printer
  hardhat.config.ts
  package.json
  tasks/tools/storage-layout.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Merge fix
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

WIP
  contracts/insured/PremiumCollectorBase.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/libraries/AddressExt.sol
  contracts/premium/BalancerBase.sol
  contracts/premium/BalancerLib.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore(actions): add check and build actions
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/check.yml
Due: none

chore: fix check order
  .github/workflows/check.yml
Due: none

chore(publish): get rid of npm token
  .github/workflows/build.yml
Due: none

chore(publish): return npm token
  .github/workflows/build.yml
Due: none

chore(actions): temporary disable publish
  .github/workflows/build.yml
Due: none

chore(actions): add check and build actions (#21)
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/check.yml
Due: none

Fix by comment
  .eslintignore
Due: none

chore(publish): fix build command for publish
  .circleci/config.yml
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Update gitignore
  .gitignore
Due: none

chore(publish): fix build command for publish (#22)
  .circleci/config.yml
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Pull a source before applying the steep curve
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/BalancerLib.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial insurer comments
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Unify definitions into the interfaces
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/IInsurerPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Insured
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/interfaces/IInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Titles
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Allow node 18
  package-lock.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint:fix

Reconcile return values
  contracts/insured/InsuredPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Restructure index pool storage
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
