Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessFlags.sol
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/ReinvestorV1.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldDistributorV1.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  contracts/governance/ProxyTypes.sol
  contracts/interfaces/IReinvestorInit.sol
  contracts/interfaces/IYieldDistributorInit.sol
  helpers/access-flags.ts
  helpers/access-verify/contracts-access.ts
  helpers/contract-types.ts
  helpers/proxy-types.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-reinvestor.ts
  test-suites/test-main/access-checks.specs/access-proxy-catalog.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-yield-distributor.cov.spec.ts-backup
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/YieldingCurrencyBase.sol
  contracts/funds/CollateralCurrency.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP premium debt
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixes
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium fixes
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Intentional failing of syncAsset before reconciliation
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Cleanup use of covGas
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Cleanup use of covGas (#95)
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Set premium asset defaults by deploy
  contracts/libraries/mocks/MockLibs.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/PremiumFundV1.sol
  contracts/premium/mocks/MockPremiumFund.sol
  helpers/config-types.ts
  helpers/config/full.ts
  helpers/constants.ts
  helpers/types-balancer.ts
  tasks/deploy/full/08-premium-fund.ts
  test-suites/test-main/libs.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix config values and comments
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix constant
  helpers/constants.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Set premium asset defaults by deploy (#96)
  contracts/libraries/mocks/MockLibs.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/PremiumFundV1.sol
  contracts/premium/mocks/MockPremiumFund.sol
  helpers/config-types.ts
  helpers/config/full.ts
  helpers/constants.ts
  helpers/types-balancer.ts
  tasks/deploy/full/08-premium-fund.ts
  test-suites/test-main/libs.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP Reinvestment tests
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/mocks/MockReinvestManager.sol
  contracts/currency/mocks/MockStrategy.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Reinvest to AAVE
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/AaveTypes.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Reinvest to AAVE (#98)
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/AaveTypes.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access check and custom calls for reinvet strategy
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access check and custom calls for reinvest strategy (#99)
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

fix: yield not transferred
  contracts/currency/YieldingBase.sol
  contracts/currency/YieldingCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Implement new functions
  contracts/currency/mocks/MockStrategy.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix time diff
  contracts/currency/YieldingBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

fix: yield not transferred (#100)
  contracts/currency/YieldingBase.sol
  contracts/currency/YieldingCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Merge fix
  contracts/currency/mocks/MockStrategy.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Events and deploy for reinvest strategies
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/AaveTypes.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
  helpers/config-types.ts
  helpers/config/full.ts
  helpers/contract-types.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/04-reinvestor.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add publish action
  .github/workflows/publish.yml
Due: none

More tests + aave reinvestment test
  contracts/currency/mocks/MockAavePoolV3.sol
  contracts/currency/mocks/MockStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  helpers/contract-types.ts
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  test-suites/test-main/reinvestment.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix CollateralFundBase.isPaused + check it
  contracts/funds/CollateralFundBase.sol
  test-suites/test-main/collateral-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Enumerable strategies
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Events and deploy for reinvest strategies (#101)
  contracts/currency/ReinvestManagerBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/currency/reinvest/AaveStrategy.sol
  contracts/currency/reinvest/AaveTypes.sol
  contracts/currency/reinvest/ReinvestStrategyBase.sol
  helpers/config-types.ts
  helpers/config/full.ts
  helpers/contract-types.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/04-reinvestor.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Block for fork via env
  hardhat.config.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Block for fork via env (#103)
  hardhat.config.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: update publish action
  .github/workflows/publish.yml
Due: none

chore: add publish action (#102)
  .github/workflows/publish.yml
Due: none

fix: disable hooks for publish action
  .github/workflows/publish.yml
Due: none

fix: disable hooks for publish action (#104)
  .github/workflows/publish.yml
Due: none

fix: add compile step for publish action
  .github/workflows/publish.yml
Due: none

fix: add compile step for publish action (#105)
  .github/workflows/publish.yml
Due: none

merge fix
  contracts/currency/mocks/MockStrategy.sol
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
