Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Test different claim percents and forepays
  contracts/insurer/mocks/MockImperpetualPool.sol
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Replace old claim test + test when forepay > claim
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Alternative reinvestment
  contracts/funds/BorrowManagerBase.sol
  contracts/funds/interfaces/ILender.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Remove unnecessary param
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/BorrowManagerBase.sol
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/interfaces/ILender.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  contracts/tools/tokens/ERC20Base.sol
  contracts/tools/tokens/ERC20MintableBalancelessBase.sol
  contracts/tools/tokens/ERC20MintableBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Simplify swapAssets (#87)
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Slither skipped, it is unable to parse 0.8.3+ code
  .github/workflows/check.yml
Due: none

WIP
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/YieldingCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/BorrowManagerBase.sol
  contracts/currency/BorrowableCurrencyBase.sol
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/YieldingCurrencyBase.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/funds/YieldStreamerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix join after fail
  contracts/insurer/InsurerJoinBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix overflow
  contracts/insured/InsuredPoolMonoRateBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix fail on zero-state reconcile
  contracts/front/FrontHelper.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/premium/PremiumFundBase.sol
  helpers/access-flags.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix deploy check
  helpers/access-verify/contracts-access.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix fail on zero-state reconcile (#90)
  contracts/front/FrontHelper.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/premium/PremiumFundBase.sol
  helpers/access-flags.ts
  helpers/access-verify/contracts-access.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix join after fail (#89)
  contracts/insurer/InsurerJoinBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Debug info
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  helpers/access-verify/contracts-access.ts
  helpers/contract-types.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Debug info (#91)
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  helpers/access-verify/contracts-access.ts
  helpers/contract-types.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP premium debt cancellation
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improvements for join
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IJoinable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improvements for join (#92)
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IJoinable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/BorrowManagerBase.sol
  contracts/currency/BorrowableCurrencyBase.sol
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/YieldingBase.sol
  contracts/currency/interfaces/ILender.sol
  contracts/currency/interfaces/IReinvestStrategy.sol
  contracts/funds/CollateralFundBase.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Additional band info for UI
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/interfaces/IInsuredPool.sol
  test-suites/test-main/pool-join.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improved rate band handling for UI (#93)
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/interfaces/IInsuredPool.sol
  test-suites/test-main/pool-join.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/BorrowBalancesBase.sol
  contracts/currency/BorrowManagerBase.sol
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/YieldingBase.sol
  contracts/currency/YieldingCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

MCD tests under coverage
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Premium debt + MCD
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Add some coverage fixes
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Check premium rate and collateral supply
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Undo changes
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Cancel join
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/mocks/MockCancellableImperpetualPool.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/interfaces/IJoinable.sol
  helpers/contract-types.ts
  test-suites/test-main/pool-join.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Coverage
  test-suites/test-main/libs.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/YieldingCurrencyBase.sol
  contracts/currency/interfaces/ISubBalance.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/Collateralized.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldDistributorV1.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/interfaces/IManagedYieldDistributor.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/interfaces/ICollateralBorrowManager.sol
  contracts/interfaces/ICollateralStakeManager.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/interfaces/IPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/currency/interfaces/ISubBalance.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/Collateralized.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolConfig.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/funds/mocks/MockCollateralCurrencyStub.sol
  test-suites/test-main/access-checks.specs/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  test-suites/test-main/access-checks.specs/access-yield-distributor.cov.spec.ts-backup
  test-suites/test-main/yield-distributor.cov.spec.ts-backup
Due: none

WIP
  helpers/access-verify/contracts-access.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix
  helpers/contract-events.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Transfer insured + pool tokens
  contracts/insurer/mocks/MockImperpetualPool.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
