Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Check recipient for mintAndTransfer
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/funds/mocks/MockERC1363Receiver.sol
  helpers/contract-errors.ts
  helpers/contract-types.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Check recipient for mintAndTransfer (#114)
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/funds/mocks/MockERC1363Receiver.sol
  helpers/contract-errors.ts
  helpers/contract-types.ts
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for the collateral currency
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/funds/CollateralCurrency.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

auto pull excess
  helpers/contract-verification.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Grammar
  contracts/currency/InvestmentCurrencyBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for pricing
  contracts/governance/GovernedHelper.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/PricingHelper.sol
  contracts/pricing/interfaces/IFallbackPriceOracle.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  contracts/pricing/interfaces/IPriceFeedChainlinkV3.sol
  contracts/pricing/interfaces/IPriceFeedUniswapV2.sol
  contracts/pricing/interfaces/IPriceRouter.sol
  contracts/pricing/mocks/MockOracleRouter.sol
  test-suites/test-main/access-checks.specs/access-price-oracle.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc on some interfaces
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/ICollateralCurrencyInit.sol
  contracts/interfaces/ICollateralFundInit.sol
  contracts/interfaces/ICoverageDistributor.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsuredPoolInit.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/interfaces/IJoinHandler.sol
  contracts/interfaces/IJoinable.sol
  contracts/interfaces/IYieldStakeAsset.sol
  contracts/libraries/Arrays.sol
  contracts/libraries/CallData.sol
  contracts/libraries/Strings.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Check rate bands after pull
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove console logs + remove only
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedRoundsBase.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for premium
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumCollector.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/interfaces/IPremiumFundInit.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor cleanups
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/interfaces/IPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc part 2 (#115)
  contracts/currency/InvestmentCurrencyBase.sol
  contracts/funds/CollateralCurrency.sol
  contracts/governance/GovernedHelper.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/ICollateralCurrencyInit.sol
  contracts/interfaces/ICollateralFundInit.sol
  contracts/interfaces/ICoverageDistributor.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsuredPoolInit.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/interfaces/IJoinHandler.sol
  contracts/interfaces/IJoinable.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumCollector.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/interfaces/IPremiumFundInit.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/interfaces/IYieldStakeAsset.sol
  contracts/libraries/Arrays.sol
  contracts/libraries/CallData.sol
  contracts/libraries/Strings.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/PricingHelper.sol
  contracts/pricing/interfaces/IFallbackPriceOracle.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  contracts/pricing/interfaces/IPriceFeedChainlinkV3.sol
  contracts/pricing/interfaces/IPriceFeedUniswapV2.sol
  contracts/pricing/interfaces/IPriceRouter.sol
  contracts/pricing/mocks/MockOracleRouter.sol
  test-suites/test-main/access-checks.specs/access-currency.cov.spec.ts
  test-suites/test-main/access-checks.specs/access-price-oracle.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Check bands
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Code doc for insured
  contracts/governance/GovernedHelper.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc and fix for premium collector
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc for rounds
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code docs for insurer (partial)
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc and minor cleanups for insurers
  contracts/governance/interfaces/IInsuredGovernor.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerPool.sol
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Typo
  contracts/insurer/WeightedPoolAccessControl.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add insured common info for frontend
  contracts/currency/mocks/MockMinter.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralCurrencyV1.sol
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: code review fixes
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: rename method
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: deploy usdc mock token (#108)
  helpers/config/dev.ts
  helpers/config/full.ts
  tasks/deploy/dev/00-pre-deploy.ts
  tasks/migrations/deploy-dev.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

feat: add insured common info for frontend helper (#117)
  contracts/currency/mocks/MockMinter.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralCurrencyV1.sol
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

0.9.14
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

Comments review
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cut the line length
  contracts/premium/BalancerLib2.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Code doc part 3 (#116)
  contracts/governance/GovernedHelper.sol
  contracts/governance/interfaces/IInsuredGovernor.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/premium/BalancerLib2.sol
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix type
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Auto pull demand tests (#113)
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
