Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Bug fix + initial tests
  contracts/access/AccessController.sol
  contracts/access/mocks/MockCaller.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Call with roles helper
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessController.sol
  contracts/access/interfaces/IManagedAccessController.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Call with roles
  .eslintrc.js
  contracts/access/mocks/MockCaller.sol
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

ACL and governor
  contracts/access/AccessFlags.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/interfaces/IInsuredGovernor.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Min rate check
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/libraries/Rounds.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Use of approved params for insured
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Collateral fund access control
  contracts/access/AccessFlags.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/Collateralized.sol
  contracts/funds/mocks/MockCollateralFund.sol
  test-suites/test-main/collateral-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Set governor for insured
  contracts/access/AccessFlags.sol
  contracts/insured/InsuredPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Access control for insured and collateral fund (#35)
  contracts/access/AccessFlags.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/Collateralized.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/interfaces/IInsuredGovernor.sol
  contracts/insured/InsuredAccessControl.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/mocks/MockInsuredPool.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/libraries/Rounds.sol
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/funds/Collateralized.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyTypes.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IJoinable.sol
  contracts/interfaces/IWeightedPool.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix rates test
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/funds/Collateralized.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/tools/Errors.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Bug fixes + more tests
  contracts/access/AccessController.sol
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Full function coverage
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Separate out joining logic
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  helpers/contract-types.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tweak
  contracts/access/AccessController.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix access
  contracts/governance/ProxyCatalog.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Value loss + MCD handling by the index pool
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IWeightedPool.sol
  contracts/tools/math/Math.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Value loss and MCD by Index Pool (#36)
  contracts/funds/Collateralized.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IWeightedPool.sol
  contracts/tools/Errors.sol
  contracts/tools/math/Math.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Linter fixes
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Access control tests (#34)
  .eslintrc.js
  contracts/access/AccessController.sol
  contracts/access/mocks/MockCaller.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial proxy tests
  contracts/governance/mocks/MockVersionedInitializable.sol
  helpers/contract-events.ts
  helpers/contract-types.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Custom proxy and specific implementation tests
  helpers/contract-types.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Housekeeping
  contracts/funds/CollateralCurrency.sol
  contracts/funds/Collateralized.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  helpers/contract-events.ts
  helpers/event-wrapper.ts
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Pausable index pool and isPaused getters
  contracts/funds/CollateralFundBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improved claim approval verification
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Versioned contracts
  contracts/access/mocks/MockCaller.sol
  contracts/funds/CollateralFundV1.sol
  contracts/governance/ApprovalCatalogV1.sol
  contracts/governance/ProxyTypes.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/interfaces/ICollateralFundInit.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsuredPoolInit.sol
  contracts/interfaces/IPremiumFundInit.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/PremiumFundV1.sol
  contracts/premium/mocks/MockPremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Reduce proxy / initializable code size
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/tools/Errors.sol
  contracts/tools/upgradeability/BaseUpgradeabilityProxy.sol
  contracts/tools/upgradeability/ProxyAdmin.sol
  contracts/tools/upgradeability/TransparentProxyBase.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

ProxyCreated event
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Submit and approve applications
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/mocks/InsuredPoolV2.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insured/PremiumCollectorBase.sol
  helpers/contract-events.ts
  helpers/contract-types.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Support listings
  contracts/access/AccessFlags.sol
  contracts/funds/CollateralFundBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/premium/PremiumFundBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Submit and approve claims
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/mocks/InsuredPoolV2.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Permits for ApprovalCatalog
  contracts/governance/ApprovalCatalog.sol
  contracts/tools/EIP712Lib.sol
  contracts/tools/Errors.sol
  contracts/tools/tokens/EIP712Base.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

ERC712 for approvals
  contracts/governance/ApprovalCatalog.sol
  contracts/tools/EIP712Lib.sol
  helpers/eip712.ts
  package-lock.json
  package.json
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Approval catalog events
  helpers/contract-events.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixes and tests for EIP712 functions
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ApprovalCatalogV1.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/interfaces/IWeightedPool.sol
  helpers/dre.ts
  helpers/eip712.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
