Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Insured improvments (#60)
  contracts/governance/ApprovalCatalog.sol
  contracts/insured/InsuredPoolBase.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Insurer events
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/tools/Errors.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/tools/Errors.sol
  contracts/tools/upgradeability/BaseUpgradeabilityProxy.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/tools/SafeOwnable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tool improvements
  contracts/access/AccessHelper.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/tools/Errors.sol
  contracts/tools/SafeOwnable.sol
  contracts/tools/upgradeability/BaseUpgradeabilityProxy.sol
  contracts/tools/upgradeability/ProxyAdmin.sol
  contracts/tools/upgradeability/TransparentProxyBase.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improve insurer (#61)
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/tools/Errors.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

More events (#59)
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/premium/PremiumFundBase.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  hardhat.config.ts
  helper-hardhat-config.ts
  helpers/config-loader.ts
  helpers/config-networks.ts
  helpers/config-types.ts
  helpers/config/full.ts
  helpers/constants.ts
  helpers/contract-ifaces.ts
  helpers/deploy-db.ts
  helpers/proxy-types.ts
  helpers/runtime-utils.ts
  helpers/types.ts
  tasks/deploy/deploy-steps.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/02-collateral-currency.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/deploy/full/99-finalize.ts
  tasks/migrations/deploy-test-incremental.ts
  test-suites/test-main/weighted-rounds.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  helpers/config-types.ts
  helpers/storage-layout.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/09-index-pool.ts
  tasks/deploy/full/templates.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  helpers/config-loader.ts
  helpers/config-types.ts
  helpers/config/dev.ts
  helpers/config/full.ts
  tasks/deploy/deploy-steps.ts
  tasks/deploy/dev/00-mocks.ts
  tasks/deploy/dev/00_mock_tokens.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/migrations/deploy-dev.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  tasks/deploy/dev/00-pre-deploy.ts
  tasks/deploy/dev/20-insured-pools.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/templates.ts
  tasks/migrations/deploy-dev.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  helpers/config-types.ts
  tasks/deploy/full/01-access-controller.ts
  tasks/deploy/full/99-finalize.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

fix
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Price oracle access tests
  test-suites/test-main/access-control-tests/access-currency.spec.ts
  test-suites/test-main/access-control-tests/access-price-oracle.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Approval catalog access test
  test-suites/test-main/access-control-tests/access-approval-catalog.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Proxy catalog access tests
  test-suites/test-main/access-control-tests/access-approval-catalog.spec.ts
  test-suites/test-main/access-control-tests/access-proxy-catalog.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Added info for UI
  contracts/front/FrontHelper.sol
  helpers/deploy-db.ts
  tasks/migrations/deploy-dev.ts
  tasks/migrations/deploy-full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Test deploy on commit
  .github/workflows/check.yml
  .gitignore
Due: none

chore: add goerli config
  helpers/config/dev.ts
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: add goerli config (#62)
  helpers/config/dev.ts
  helpers/config/full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  helpers/contract-ifaces.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/factory-wrapper.ts
  tasks/deploy/dev/20-insured-pools.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/templates.ts
  tasks/tools/verify-all.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/access/AccessControllerBase.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/tools/tokens/ERC20PermitBase.sol
  helpers/access-verify/contracts-access.ts
  helpers/access-verify/method-checker.ts
  helpers/contract-errors.ts
  helpers/errors.ts
  tasks/deploy/full/97-access-test.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Post-deploy access control (#63)
  contracts/access/AccessControllerBase.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/GovernedHelper.sol
  contracts/governance/ProxyCatalog.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/pricing/PriceGuardOracleBase.sol
  contracts/tools/tokens/ERC20PermitBase.sol
  helpers/access-verify/contracts-access.ts
  helpers/access-verify/method-checker.ts
  helpers/contract-errors.ts
  helpers/contract-ifaces.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/errors.ts
  helpers/factory-wrapper.ts
  tasks/deploy/dev/20-insured-pools.ts
  tasks/deploy/full/04-yield-distributor.ts
  tasks/deploy/full/05-price-oracle.ts
  tasks/deploy/full/06-approval-catalog.ts
  tasks/deploy/full/07-collateral-fund.ts
  tasks/deploy/full/08-premium-fund.ts
  tasks/deploy/full/09-index-pools.ts
  tasks/deploy/full/97-access-test.ts
  tasks/deploy/templates.ts
  tasks/tools/verify-all.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup TODOs
  .eslintrc.js
  contracts/funds/CollateralCurrency.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/interfaces/IJoinHandler.sol
  contracts/interfaces/IPremiumCalculator.sol
  tasks/migrations/deploy-test-incremental.ts
  tasks/plugins/storage-layout.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

setAccess test
  test-suites/test-main/access-control-tests/access-proxy-catalog.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/CollateralFundBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/ICoverageDistributor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/DirectPoolBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/YieldStakerBase.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  helpers/contract-events.ts
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  hardhat.config.ts
  tasks/plugins/set-dre.ts
  test-suites/test-main/currency.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  hardhat.config.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Cleanup TODOs (#64)
  .eslintrc.js
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredJoinBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/interfaces/ICoverageDistributor.sol
  contracts/interfaces/IJoinHandler.sol
  contracts/interfaces/IPremiumCalculator.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  hardhat.config.ts
  helpers/contract-events.ts
  tasks/migrations/deploy-test-incremental.ts
  tasks/plugins/set-dre.ts
  tasks/plugins/storage-layout.ts
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
  test-suites/test-main/weighted-pool.bench.ts
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Check access for methods of delegates
  helpers/access-verify/contracts-access.ts
  helpers/access-verify/method-checker.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix deploy stats
  helpers/deploy-db.ts
  tasks/migrations/deploy-full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Avoid code conflict on verification
  contracts/access/AccessControllerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Insured access tests
  test-suites/test-main/access-control-tests/access-imperpetual-pool.spec.ts
  test-suites/test-main/access-control-tests/access-insured.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

emergency admin
  test-suites/test-main/access-control-tests/access-premium-fund.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
