Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Smoke test
  helpers/config/full.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/migrations/deploy-full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fixes
  helpers/deploy-db.ts
  tasks/subtasks/call-cmd.ts
  tasks/tools/call-cmd.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Smoke test (#79)
  helpers/config/full.ts
  tasks/deploy/full/98-smoke-test.ts
  tasks/migrations/deploy-full.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

CLI support (#65)
  helpers/access-flags.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  tasks/deploy/full/97-access-test.ts
  tasks/subtasks/call-cmd.ts
  tasks/tools/call-cmd.ts
  tasks/tools/print-contracts.ts
  tasks/tools/wallets.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improved name resolution for CLI
  tasks/subtasks/call-cmd.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix add coverage to an empty insurer
  contracts/insurer/ImperpetualPoolBase.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix add coverage to an empty insurer (#80)
  contracts/insurer/ImperpetualPoolBase.sol
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Missing event: MemberLeft
  contracts/insurer/InsurerJoinBase.sol
  contracts/interfaces/IJoinable.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Unify swappable balance reporting
  contracts/front/FrontHelper.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IInsurerPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Batch reconcile for UI
  contracts/front/FrontHelper.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/interfaces/IInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup test
  package.json
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Various improvements (#81)
  contracts/front/FrontHelper.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/interfaces/IJoinable.sol
  package.json
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool-2.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix chain truncate by add demand over a zero batch
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/tools/math/Math.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix chain truncate by add demand over a zero batch (#82)
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/insurer/mocks/MockWeightedRounds.sol
  contracts/tools/math/Math.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Redistribute code by impls
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/IMockInsurer.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/ICoverageDistributor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Redistribute insurer's code by impls (#84)
  contracts/insured/InsuredPoolMonoRateBase.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/IMockInsurer.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/ICoverageDistributor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

All coverage cancel test
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP MCD separation
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Remove only
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Move MCD tests to own file
  package.json
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Update extension to use interface
  helpers/contract-types.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP MCD causing payout loss
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Batch insured reconcile Info
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix test
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Batch insured reconcile Info (#85)
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix run under coverage
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Alternate balancing for MCD
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes and optimizations
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumFund.sol
  test-suites/test-main/access-checks.specs/access-premium-fund.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/front/FrontHelper.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Print payout amount and balance
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Check totals after cancelling all
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Test and fixes for drawdown fees
  contracts/premium/BalancerLib2.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Alternate balancing for MCD (#86)
  contracts/front/FrontHelper.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
  test-suites/test-main/access-checks.specs/access-premium-fund.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor improvements
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tests for edge cases
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix incoherent claim ratio
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix merge conflicts
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Check underflow
  test-suites/test-main/mcd.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Refactored
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IWeightedPool.sol
  helpers/config/full.ts
  test-suites/test-main/access-checks.specs/access-imperpetual-pool.cov.spec.ts
  test-suites/test-main/access-checks.specs/setup.ts
  test-suites/test-main/mcd.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
