Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

excessive volatility
  contracts/pricing/OracleRouterV1.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cross price + source check
  contracts/pricing/PriceSourceBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Decimal fixes + tests
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceSourceBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Mock
  contracts/funds/mocks/MockYieldDistributor.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceSourceBase.sol
  package.json
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improve test
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Price oracle tests (#46)
  .solcover.js
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/mocks/MockChainlinkV3.sol
  contracts/pricing/mocks/MockUniswapV2.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Price Aggregator (#40)
  .solcover.js
  contracts/access/AccessFlags.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundV1.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockPremiumFund.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceOracle.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/PricingHelper.sol
  contracts/pricing/interfaces/IFallbackPriceOracle.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  contracts/pricing/interfaces/IManagerPriceOracle.sol
  contracts/pricing/interfaces/IPriceFeedChainlinkV3.sol
  contracts/pricing/interfaces/IPriceFeedUniswapV2.sol
  contracts/pricing/interfaces/IPriceOracle.sol
  contracts/pricing/interfaces/IPriceRouter.sol
  contracts/pricing/mocks/MockChainlinkV3.sol
  contracts/pricing/mocks/MockUniswapV2.sol
  contracts/tools/Errors.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Remove 'only'
  .solcover.js
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: support deploy for goerli and deploy fixes
  hardhat.config.ts
  helper-hardhat-config.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/types.ts
  package.json
  tasks/deploy/full/02-access-controller.ts
  tasks/deploy/full/04-collateral-currency.ts
  tasks/deploy/full/05-insured-pool-v2.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  tasks/migrations/deploy-full.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: support deploy for goerli and deploy fixes (#45)
  hardhat.config.ts
  helper-hardhat-config.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/types.ts
  package.json
  tasks/deploy/full/02-access-controller.ts
  tasks/deploy/full/04-collateral-currency.ts
  tasks/deploy/full/05-insured-pool-v2.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  tasks/migrations/deploy-full.ts
  tasks/tools/verify-all.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Failing uniswap test with different decimals
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Prep for tests
  contracts/access/AccessFlags.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/tools/math/Math.sol
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Test base
  contracts/funds/CollateralCurrency.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/pricing/OracleRouterBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Comment fix
  contracts/pricing/OracleRouterBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Separate out access control mask constants
  helpers/constants.ts
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP access control tests
  contracts/funds/mocks/MockYieldDistributor.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Failing uniswap test with different decimals (#47)
  contracts/pricing/OracleRouterBase.sol
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes and missed parts
  contracts/funds/CollateralCurrency.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/tools/math/Math.sol
  contracts/tools/tokens/ERC20TransferBase.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix balance for removed assets
  contracts/funds/YieldStakerBase.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Removed only
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Improved stability under coverage
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Test fix
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Setup
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Move access control constants to separate file
  helpers/access-control-constants.ts
  helpers/constants.ts
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Approval catalog use imports
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

InsuredV2 should have been a mock. Fixes for deploy and test
  contracts/governance/mocks/MockInsuredPoolV2.sol
  helpers/contract-types.ts
  helpers/types.ts
  tasks/deploy/full/04-collateral-currency.ts
  tasks/deploy/full/05-insured-pool-v2.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Rename file
  tasks/deploy/full/05-insured-pool-v1.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Access control tests for yield distributor
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control-tests/access-yield-distributor.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

More tests
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

More tests, more fixes
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Yield Distributor (#43)
  contracts/access/AccessFlags.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldDistributorV1.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/interfaces/IManagedYieldDistributor.sol
  contracts/funds/mocks/MockCollateralCurrencyStub.sol
  contracts/funds/mocks/MockInsurerForYield.sol
  contracts/funds/mocks/MockYieldDistributor.sol
  contracts/governance/ProxyTypes.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/ICollateralBorrowManager.sol
  contracts/interfaces/ICollateralStakeManager.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/interfaces/IYieldDistributorInit.sol
  contracts/interfaces/IYieldStakeAsset.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/tools/math/Math.sol
  contracts/tools/tokens/ERC20TransferBase.sol
  helpers/constants.ts
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control.cov.spec.ts
  test-suites/test-main/pricing.cov.spec.ts
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/Rounds.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/IJoinHandler.sol
  package.json
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/pool-join.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup
  contracts/pricing/mocks/MockChainlinkV3.sol
  contracts/pricing/mocks/MockUniswapV2.sol
  test-suites/test-main/yield-distributor.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

InsuredPoolV2 should have been a mock. Fixes for deploy and test (#48)
  contracts/governance/mocks/MockInsuredPoolV2.sol
  helpers/contract-types.ts
  helpers/types.ts
  tasks/deploy/full/04-collateral-currency.ts
  tasks/deploy/full/05-insured-pool-v1.ts
  tasks/deploy/full/06-approval-catalog-v1.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Setup access control test env + yield distributor access
  helpers/contract-types.ts
  package.json
  test-suites/test-main/access-control-tests/access-yield-distributor.spec.ts
  test-suites/test-main/access-control-tests/setup.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
