Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

WIP
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial impl
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumBalanceHolder.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/tools/SafeERC20.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/tools/Errors.sol
  contracts/tools/math/PercentageMath.sol
  contracts/tools/math/WadRayMath.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Added mock
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumFund.sol
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium pool (#26)
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumBalanceHolder.sol
  contracts/interfaces/IPremiumDistributor.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/premium/mocks/MockPremiumFund.sol
  contracts/tools/Errors.sol
  contracts/tools/SafeERC20.sol
  contracts/tools/math/PercentageMath.sol
  contracts/tools/math/WadRayMath.sol
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Missed logic
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium collection refactored
  contracts/insurer/InsurerJoinBase.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IJoinable.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase2.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IPremiumCollector.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insured/PremiumCollectorBase2.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/PremiumCollector.sol
  contracts/premium/PremiumFund.sol
  helpers/contract-types.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Mixed replenishment
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/insurance/InsurancePoolBase.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/premium/PremiumFund.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactor debt ops
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Multiple sources per token
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/libraries/AddressExt.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium collector logic and multi-source support for Premium Fund (#28)
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/insurance/InsurancePoolBase.sol
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IPremiumActuary.sol
  contracts/interfaces/IPremiumCollector.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/libraries/AddressExt.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumCollector.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  helpers/contract-types.ts
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/funds/CollateralFundBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Simple mocks + calls to them
  contracts/premium/mocks/MockERC20.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumSource.sol
  helpers/contract-types.ts
  package-lock.json
  package.json
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundZLBase.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Update mocks and make some fund functions virtual
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Working default config. WIP
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix value calc for replenish
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Actuary state check
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundZLBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Test WIP. Logging for total diagnosing
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockPremiumActuary.sol
  contracts/premium/mocks/MockPremiumFund.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix inconsistencies between amount and value
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Safeguard logic
  contracts/funds/CollateralFundStableBalanceBase.sol
  contracts/tools/math/PercentageMath.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Allow combining invest with deposit
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundStableBalanceBase.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Preliminary swapping test
  contracts/premium/mocks/MockPremiumActuary.sol
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Multiple token swap
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Tests and fixes
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundStableBalanceBase.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/tools/Errors.sol
  helpers/contract-types.ts
  helpers/event-wrapper.ts
  package.json
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Collateral Fund - yet another version (#29)
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/TokenDelegateBase.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/tools/Errors.sol
  contracts/tools/math/PercentageMath.sol
  helpers/contract-types.ts
  helpers/event-wrapper.ts
  package.json
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/setup/make-suite.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessController.sol
  contracts/access/MarketAccessBitmask.sol
  contracts/access/MarketAccessController.sol
  contracts/access/ProxyRegistry.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/access/interfaces/IManagedAccessController.sol
  contracts/access/interfaces/IManagedMarketAccessController.sol
  contracts/access/interfaces/IMarketAccessController.sol
  tsconfig.eslint.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fixes for coverage
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Multiple token sync
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Proxy and approval catalogs
  contracts/access/AccessCallHelper.sol
  contracts/access/AccessFlags.sol
  contracts/access/AccessHelper.sol
  contracts/access/MarketAccessBitmask.sol
  contracts/access/MarketRegistry.sol
  contracts/access/ProxyRegistry.sol
  contracts/access/interfaces/IManagedAccessController.sol
  contracts/access/interfaces/IMarketRegistry.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/governance/ProxyTypes.sol
  contracts/governance/interfaces/IApprovalCatalog.sol
  contracts/governance/interfaces/IClaimAccessValidator.sol
  contracts/governance/interfaces/IProxyCatalog.sol
  contracts/governance/interfaces/IProxyFactory.sol
  contracts/libraries/Strings.sol
  contracts/libraries/mocks/MockLibs.sol
  contracts/tools/upgradeability/IVersioned.sol
  contracts/tools/upgradeability/VersionedInitializable.sol
  helpers/contract-types.ts
  package.json
  test-suites/test-main/lib-strings.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessFlags.sol
  contracts/access/AccessHelper.sol
  contracts/access/AccessLib.sol
  contracts/access/MarketAccessBitmask.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ProxyCatalog.sol
  contracts/interfaces/IProxyFactory.sol
  contracts/tools/Errors.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanups
  contracts/access/AccessController.sol
  contracts/access/AccessHelper.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/governance/ProxyCatalog.sol
  contracts/governance/interfaces/IProxyCatalog.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/interfaces/IBuyOffProvider.sol
  contracts/interfaces/IPremiumCalculator.sol
  contracts/interfaces/IProtocol.sol
  contracts/interfaces/IProtocolPayIn.sol
  contracts/interfaces/IVirtualReserve.sol
  contracts/tools/SafeOwnable.sol
  test-suites/test-main/lib-strings.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Connect ACL to collateral currency
  contracts/access/AccessHelper.sol
  contracts/funds/CollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrency.sol
  contracts/funds/mocks/MockCollateralCurrencyStub.sol
  contracts/insurer/InsurerJoinBase.sol
  contracts/premium/PremiumFund.sol
  helpers/contract-types.ts
  test-suites/test-main/collateral-fund.cov.spec.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tweaks
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/tools/Errors.sol
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Enable benchmark
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Smaller tests and CC
  test-suites/test-main/premium-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint
