Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improve stability of tests
  .eslintignore
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Address cyrax comments
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IInsuredPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Renamings
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  helpers/contract-types.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Last minute tidying up
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Storage layout command
  .eslintignore
  .gitignore
  hardhat.config.ts
  package-lock.json
  package.json
  tasks/tools/storage-layout.ts
  tsconfig.eslint.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Storage layout command (#25)
  .eslintignore
  .gitignore
  hardhat.config.ts
  package-lock.json
  package.json
  tasks/tools/storage-layout.ts
  tsconfig.eslint.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/libraries/Rounds.sol
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsurerPool.sol
  helpers/contract-types.ts
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/WeightedPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsurerPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/interfaces/IInsurerPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Subrogate for perpetual
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Subrogate for imperpetual
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial tests for imperpetual
  contracts/insurer/ImperpetualPoolBase.sol
  helpers/contract-types.ts
  package-lock.json
  package.json
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Tests and fixes
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Improved coverage
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolStorage.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Refactored
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Minor optimizations
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Premium fund hooks
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/interfaces/IPremiumHandler.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

More tweaks and tests
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Change perpetual.balanceOf to be IC, not CC
  contracts/insured/InsuredBalancesBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IInsurerPool.sol
  test-suites/test-main/coverage-cancel.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Non-perpetual index pool (#24)
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/DirectPoolBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolExtension.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolConfig.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedPoolStorage.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IInsurerPool.sol
  contracts/interfaces/IPremiumHandler.sol
  contracts/libraries/Rounds.sol
  helpers/contract-types.ts
  package-lock.json
  package.json
  test-suites/test-main/coverage-cancel.cov.spec.ts
  test-suites/test-main/currency.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
  test-suites/test-main/weighted-pool.bench.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/interfaces/IPremiumBalanceHolder.sol
  contracts/interfaces/IPremiumCalculator.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/BalancerBase.sol
  contracts/premium/BalancerLib.sol
  contracts/premium/PremiumFund.sol
  test-suites/test-main/imperpetual-pool.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/premium/BalancerLib.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Alternative balancing math
  contracts/premium/BalancerLib2.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/premium/BalancerLib2.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Balancer math test stub. Event helpers.
  contracts/premium/BalancerLib2.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  helpers/contract-events.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/event-wrapper.ts
  helpers/factory-wrapper.ts
  package.json
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/premium/BalancerLib2.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/tools/math/WadRayMath.sol
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Balancer math tests
  contracts/premium/BalancerLib2.sol
  contracts/tools/math/Math.sol
  helpers/constants.ts
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Smoothness test
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Fix flapping under coverage
  test-suites/test-main/insurance.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

More tests
  contracts/premium/BalancerLib2.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Remove old math
  contracts/premium/BalancerBase.sol
  contracts/premium/BalancerLib.sol
  contracts/premium/PremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Illiquid fund balancer (#8)
  contracts/insured/InsuredBalancesBase.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/interfaces/IPremiumBalanceHolder.sol
  contracts/interfaces/IPremiumCalculator.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/libraries/AddressExt.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumCollector.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  contracts/tools/math/Math.sol
  contracts/tools/math/WadRayMath.sol
  helpers/constants.ts
  helpers/contract-events.ts
  helpers/contract-types.ts
  helpers/deploy-db.ts
  helpers/event-wrapper.ts
  helpers/factory-wrapper.ts
  package-lock.json
  package.json
  test-suites/test-main/balancer.cov.spec.ts
  test-suites/test-main/imperpetual-pool.cov.spec.ts
  test-suites/test-main/insurance.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insured/InsuredPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/WeightedRoundsBase.sol
  contracts/interfaces/IInsuredPool.sol
  contracts/interfaces/IPremiumHandler.sol
  contracts/interfaces/IPremiumSink.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/premium/BalancerLib2.sol
  contracts/premium/PremiumFund.sol
  contracts/premium/mocks/MockBalancerLib2.sol
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Test fix
  test-suites/test-main/balancer.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Path conditions:
  pretty-quick --pattern '**/*.*(js|ts|json)' --staged: any of: *.{ts,js,json}
  npm run eslint: any of: *.{ts,js}
  pretty-quick --staged --pattern 'contracts/**/*.sol' --staged: any of: *.sol
