Repository steadystatedefi/steady-state-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run eslint"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

Minor cleanup
  contracts/governance/ApprovalCatalog.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/front/FrontHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Catalog tests (#38)
  contracts/governance/ApprovalCatalog.sol
  contracts/governance/ApprovalCatalogV1.sol
  contracts/governance/mocks/InsuredPoolV2.sol
  contracts/governance/mocks/MockVersionedInitializable.sol
  contracts/insured/InsuredPoolV1.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolV1.sol
  contracts/insurer/JoinablePoolExtension.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolExtension.sol
  contracts/insurer/WeightedPoolAccessControl.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/WeightedPoolExtension.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
  contracts/interfaces/IWeightedPool.sol
  contracts/tools/EIP712Lib.sol
  helpers/contract-events.ts
  helpers/contract-types.ts
  helpers/dre.ts
  helpers/eip712.ts
  package-lock.json
  package.json
  test-suites/test-main/approval-catalog.cov.spec.ts
  test-suites/test-main/proxy-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Address getters for UI
  contracts/access/AccessController.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/interfaces/ICollateralFund.sol
  contracts/interfaces/ICollateralFund.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Initial
  contracts/pricing/PriceOracle.sol
  helpers/contract-types.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cancellation of permits
  contracts/governance/ApprovalCatalog.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix compile under coverage
  contracts/governance/ApprovalCatalog.sol
  contracts/tools/EIP712Lib.sol
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Cleanup any
  helpers/eip712.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Approval catalog - cancel permit (#41)
  contracts/governance/ApprovalCatalog.sol
  contracts/tools/EIP712Lib.sol
  helpers/eip712.ts
  test-suites/test-main/approval-catalog.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

UI helper (#39)
  contracts/access/AccessController.sol
  contracts/access/AccessFlags.sol
  contracts/access/interfaces/IAccessController.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/interfaces/ICollateralFund.sol
  contracts/insured/PremiumCollectorBase.sol
  contracts/interfaces/ICollateralFund.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/interfaces/IPremiumFund.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/pricing/FuseBox.sol
  contracts/pricing/PriceOracleBase.sol
  contracts/pricing/PriceOracleV1.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/interfaces/IManagerPriceOracle.sol
  contracts/pricing/interfaces/IPriceFeedChainlinkV3.sol
  contracts/pricing/interfaces/IPriceFeedUniswapV2.sol
  contracts/pricing/interfaces/IPriceOracle.sol
  contracts/tools/Errors.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceSourceBase.sol
  contracts/pricing/interfaces/IManagerPriceOracle.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/interfaces/IFallbackPriceOracle.sol
  contracts/pricing/interfaces/IManagerPriceOracle.sol
  contracts/pricing/interfaces/IPriceOracle.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessFlags.sol
  contracts/front/FrontHelper.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundV1.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/pricing/FuseBox.sol
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/PricingHelper.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
  contracts/pricing/interfaces/IPriceRouter.sol
  test-suites/test-main/collateral-fund.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Renamed
  contracts/access/AccessFlags.sol
  contracts/pricing/OracleRouterBase.sol
  test-suites/test-main/access-control.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Pricer integration
  contracts/funds/CollateralFundBase.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockPremiumFund.sol
  contracts/pricing/PricingHelper.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Price source group for the collateral fund
  contracts/funds/CollateralFundBase.sol
  contracts/funds/CollateralFundV1.sol
  contracts/funds/mocks/MockCollateralFund.sol
  contracts/pricing/OracleRouterBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Setup methods
  contracts/pricing/OracleRouterBase.sol
  contracts/pricing/interfaces/IManagedPriceRouter.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add deploy script for access controller
  helpers/config/full.ts
  helpers/types.ts
  tasks/deploy/full/02-access-controller.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Initial
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldSource.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/interfaces/IPremiumSource.sol
  contracts/interfaces/IYieldDistributor.sol
  contracts/premium/PremiumFundBase.sol
  contracts/premium/mocks/MockPremiumActuary.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Init WIP
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: remove access controller params from config
  helpers/config/full.ts
  helpers/types.ts
  tasks/deploy/full/02-access-controller.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: add deploy script for access controller (#42)
  helpers/config/full.ts
  helpers/types.ts
  tasks/deploy/full/02-access-controller.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

chore: add deploy scripts for proxy and approval catalogs
  helpers/types.ts
  tasks/deploy/full/02-access-controller.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-approval-catalog-v1.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldSource.sol
  contracts/funds/YieldStakerBase.sol
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/IYieldDistributor.sol
  contracts/premium/PremiumFundBase.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/YieldStakerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: update approval catalog deploy script with proxy catalog
  helpers/types.ts
  tasks/deploy/full/04-approval-catalog-v1.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

Static price + decimal bugfixes
  contracts/pricing/OracleRouterV1.sol
  contracts/pricing/PriceSourceBase.sol
  helpers/contract-types.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Chainlink + Uniswap pricefeeds
  .solcover.js
  contracts/pricing/mocks/MockChainlinkV3.sol
  contracts/pricing/mocks/MockUniswapV2.sol
  helpers/contract-types.ts
  test-suites/test-main/pricing.cov.spec.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/interfaces/ICollateralBorrowManager.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add deploy scripts for proxy and approval catalogs (#44)
  helpers/types.ts
  tasks/deploy/full/02-access-controller.ts
  tasks/deploy/full/03-proxy-catalog.ts
  tasks/deploy/full/04-approval-catalog-v1.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run eslint

WIP
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/interfaces/ICollateralBorrowManager.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/access/AccessFlags.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldDistributorV1.sol
  contracts/funds/YieldStakerBase.sol
  contracts/governance/ProxyTypes.sol
  contracts/interfaces/IYieldDistributorInit.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/CollateralCurrency.sol
  contracts/funds/CollateralFundBase.sol
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStakerBase.sol
  contracts/funds/YieldStreamerBase.sol
  contracts/funds/interfaces/IManagedYieldDistributor.sol
  contracts/funds/mocks/MockCollateralCurrencyStub.sol
  contracts/interfaces/ICollateralStakeManager.sol
  contracts/interfaces/IManagedCollateralCurrency.sol
  contracts/interfaces/IYieldStakeAsset.sol
  contracts/tools/math/Math.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/insurer/ImperpetualPoolBase.sol
  contracts/insurer/ImperpetualPoolStorage.sol
  contracts/insurer/PerpetualPoolBase.sol
  contracts/insurer/PerpetualPoolStorage.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/insurer/mocks/MockImperpetualPool.sol
  contracts/insurer/mocks/MockPerpetualPool.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/YieldStakerBase.sol
  contracts/insurer/WeightedPoolBase.sol
  contracts/interfaces/IYieldStakeAsset.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

WIP
  contracts/funds/YieldDistributorBase.sol
  contracts/funds/YieldStreamerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

Fix
  contracts/funds/YieldStreamerBase.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged
